# Copy file ini jadi .env -> cp .env.example .env
# Ganti user/password sesuai PostgreSQL lokal kamu

DATABASE_URL="postgresql://postgres:0406@localhost:5432/pt_bst"
JWT_SECRET="ganti-minimal-32-karakter-acak-untuk-dev"
JWT_EXPIRES_IN="7d"

# Optional - isi jika pakai cloud storage
# SUPABASE_URL=""
# SUPABASE_ANON_KEY=""
# SUPABASE_BUCKET="pt-bst"
